{% extends "shared/_layout.html" %}

{% block title %}PyPI knock-off{% endblock %}

{% block main_content %}
    <h1>Python Package Index Cheap Knock-Off</h1>

    <h2>Packages</h2>

    <br>
    {% for p in packages %}
        <div>
            <span class="title">{{ p.name }}</span>
            <span class="version">{{ p.version }}</span>
            {% if p.summary %}
                <span class="summary">{{ p.summary }}</span>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}